.boxLoaderContainer {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgb(109, 104, 104);
  opacity: 0.5;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxLoaderContent {
  height: 100px;
  width: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.boxLoaderMessage {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 90px;
  font-size: 12px;
  vertical-align: bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px;
}
